# Node files
npm-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
node_modules/

# Terraform files
*.tfvars
*.tfstate
*.tfstate.*
*.auto.tfvars
*.tfstate.backup
*.tfstate.*.backup
.terraform/

# Misc files
*.pem
*.pub
*.log
logs/
files/
report/
coverage/
