# The following environment variables need to be set in build environment
#
#   AWS_ACCESS_KEY
#   AWS_SECRET_KEY
#   AWS_REGION
#   DOMAIN_NAME
#   ENV_NAME
#

version: 2
jobs:

  functions:
    working_directory: ~/serverless
    docker:
      - image: circleci/node:8.15
    steps:
      - checkout
      - run:
          name: Installing Packages
          working_directory: functions
          command: yarn install
      - run:
          name: Linting
          working_directory: functions
          command: yarn run lint
      - run:
          name: Unit Testing
          working_directory: functions
          command: yarn run test
      - store_artifacts:
          path: functions/coverage

  client-app:
    working_directory: ~/serverless
    docker:
      - image: circleci/node:8.15
    steps:
      - checkout
      - run:
          name: Installing Packages
          working_directory: client
          command: yarn install
      - run:
          name: Unit Testing
          working_directory: client
          command: yarn run test
      - store_artifacts:
          path: client/coverage

  terraform-plan:
    working_directory: ~/serverless
    docker:
      - image: circleci/node:8.15
    environment:
      TERRAFORM_VERSION: 0.11.7
    steps:
      - checkout
      - run:
          name: Installing Terraform
          command: |
            curl -Os https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip
            sudo unzip terraform_${TERRAFORM_VERSION}_linux_amd64.zip -d /usr/local/bin
            sudo chmod 755 /usr/local/bin/terraform
      - run:
          name: Configuring Terraform
          command: |
            echo "access_key  = \"$AWS_ACCESS_KEY\"" >  terraform/terraform.tfvars
            echo "secret_key  = \"$AWS_SECRET_KEY\"" >> terraform/terraform.tfvars
            echo "domain      = \"$DOMAIN_NAME\""    >> terraform/terraform.tfvars
            echo "environment = \"$ENV_NAME\""       >> terraform/terraform.tfvars
            echo "region      = \"$AWS_REGION\""     >> terraform/terraform.tfvars
      - run:
          name: Infrastructure
          command: cd terraform/infrastructure && make init validate
      - run:
          name: Scaffold
          command: cd terraform/scaffold && make init validate
      - run:
          name: Serverless
          command: cd terraform/serverless && make init validate

workflows:
  version: 2
  test_and_verify:
    jobs:
      - functions
      - client-app
      - terraform-plan
