# The following environment variables need to be set in build environment
#
#   AWS_ACCESS_KEY
#   AWS_SECRET_KEY
#   AWS_REGION
#   DOMAIN_NAME
#   ENV_NAME
#

version: 2
jobs:

  functions:
    working_directory: ~/serverless
    docker:
      - image: circleci/node:9.11
    steps:
      - checkout
      - run:
          name: Installing Packages
          command: cd functions && yarn install
      - run:
          name: Checking Security
          command: make nsp
      - run:
          name: Code Linting
          command: make lint
      - run:
          name: Unit Testing
          command: make test
      - store_artifacts:
          path: functions/coverage
          prefix: functions/coverage

  client-app:
    working_directory: ~/serverless
    docker:
      - image: circleci/node:9.11
    steps:
      - checkout
      - run:
          name: Installing Packages
          command: cd client && yarn install
      - run:
          name: Unit Testing
          command: make test-client
      - store_artifacts:
          path: client/coverage
          prefix: client/coverage

  terraform-plan:
    working_directory: ~/serverless
    docker:
      - image: circleci/node:9.11
    environment:
      TERRAFORM_VERSION: 0.11.7
    steps:
      - checkout
      - run:
          name: Installing Terraform
          command: |
            curl -Os https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip
            sudo unzip terraform_${TERRAFORM_VERSION}_linux_amd64.zip -d /usr/local/bin
            sudo chmod 755 /usr/local/bin/terraform
      - run:
          name: Configuring Terraform
          command: |
            echo "access_key  = \"$AWS_ACCESS_KEY\"" >  terraform/terraform.tfvars
            echo "secret_key  = \"$AWS_SECRET_KEY\"" >> terraform/terraform.tfvars
            echo "domain      = \"$DOMAIN_NAME\""    >> terraform/terraform.tfvars
            echo "environment = \"$ENV_NAME\""       >> terraform/terraform.tfvars
            echo "region      = \"$AWS_REGION\""     >> terraform/terraform.tfvars
      - run:
          name: Planning Terraform
          command: make validate init plan

workflows:
  version: 2
  test_and_verify:
    jobs:
      - functions
      - client-app
      - terraform-plan
